fastapi==0.95.1
uvicorn==0.22.0
flask==2.3.2
requests==2.30.0
sentence-transformers==2.2.2
faiss-cpu==1.7.4
python-dotenv==1.0.0
pydantic==1.10.7
# Downgrading a bunch of things to avoid incompatibilities
huggingface-hub==0.25.2
numpy==1.26.4
